@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#searchDiv{
    margin-top: 20px;
    display: flex;
    padding-left: 15%;
    width: 500px;
}
#searchText{
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
#searchInput{
    padding: 0px 0px 0px 10px;
    margin-left:10px;
    border: 1px solid #E6E7E9;
    border-radius: 5px;
    width: 250px;
    height: 28px;
}
.autocomplete {
    position: relative;
    display: inline-block;
}
#searchInputautocomplete-list{
    max-height: 500px;
    overflow: scroll;
}
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    margin-left: 10px;
    position: absolute;
    width: 264px;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
#searchButton{
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    height: 28px;
}
#searchButtonShort{
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    height: 28px;
    width: 28px;
    display: none;
    background-image: url("../img/LOUPE.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
}
#searchButton:hover{
    background-color: #6CB1FF;
}

#centeredMeteo{
    height: 250px;
    width: 500px;
    text-align: center;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#centeredMeteoFull{
    display: flex;
    justify-content: space-around;
    height: 115px;
    margin: auto;
    width: 400px;
}
#centeredLogoAndTemperature{
    display: flex;
}
#centeredLogoAndTemperatureText{
    font-size: 3em;
}
#cenderedWindAndPrecipitation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.centerdWindAndPrecipitationLogos{
    height: 30px;
}
#centeredText{
    font-size: 2em;
}

#dataTable{
    height: 125px;
    width: 40%;
    margin: 60px auto 0 auto;
}
.dataTableRow{
    height: 40px;
}
.dataTableRowCollumn0{
    width: 40px;
}
.dataTableRowLogos{
    height: 30px;
}
.dataTableRowCollumn{
    width: 68px;
}
.dataTableRowCollumnLast{
    text-align: center;
    width: 20px;
}
.nonBoldTh{
    font-weight: normal;
}
@media only screen and (max-width: 1200px) {
    #searchDiv{
        margin: 20px auto 0 auto;
        padding-left: 0;
    }
    #dataTable{
        width: 65%;
    }
    
    #centeredMeteo{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 992px) {
    #searchDiv{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    #searchText{
        margin-bottom: 10px;
    }
    #searchInputautocomplete-list{
        margin: auto;
        padding-right: 75px;
    }
    
    #dataTable{
        width: 75%;
    }
    .dataTableRowLogos{
        height: 20px;
    }
}
@media only screen and (max-width: 600px){
    #searchInput{
        width: 200px;
    }
    #searchInputautocomplete-list{
        padding-right: 11px;
    }
    .autocomplete-items{
        width: 221px;
    }
    
    #searchButton{
        display: none;
    }
    #searchButtonShort{
        display: inline-block;
    }
    
    #centeredMeteo{
        width: auto;
        margin-top: 10px;
        height: 150px;
    }
    #centeredMeteo h1{
        font-size: 1.3em;
        margin: 0 auto 0 auto;
    }
    #centeredMeteoFull{
        margin: 0 auto 0 auto;
        justify-content: center;
        width: 100%;
    }
    #centeredLogoAndTemperature{
        flex-direction: column;
        justify-content: center;
        width: 72px;
    }
    #centeredLogoAndTemperature img{
        width: 100%;
        height: 50%;
        text-align: center;
    }
    #centeredLogoAndTemperature p{
        font-size: 1.5em;
        width: 80px;
    }
    #centeredText{
        font-size: 1.3em;
    }
    
    #dataTable{
        width: 100%;
        margin-top: 10px;
    }
}
