{% extends 'base.html.twig' %}

{% block title %}
    Hello WeatherController!
{% endblock %}

{% block body %}

    <h1>Bienvenue sur la page acueil</h1>
    <form action="meteo" method="post">
        <label for="selector">Choisissez votre ville
            <select name="town" id="selector">
                <option value="toulouse" selected>Toulouse</option>
                <option value="paris">Paris</option>
            </select>
        </label><br>
        <input type="submit" value="Regarder la météo">
    </form>


{% endblock %}

