{% extends 'base.html.twig' %}

{% block title %}
    Meteo
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>A (NOM DE VILLE)</h1>
    
{% endblock %}

